<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergunta 2</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Pergunta 2: Quais os benefícios de usar um framework?</h1>
        <p>
            O uso de um framework oferece diversos benefícios, como:
            <ul>
                <li><strong>Produtividade</strong>: Reduz o tempo de desenvolvimento, pois tem diversas funcionalidades prontas.</li>
                <li><strong>Manutenção</strong>: Facilita a manutenção e evolução do código e boas práticas no desenvolvimento do projeto.</li>
                <li><strong>Segurança</strong>: Muitos frameworks já vêm com medidas de segurança.</li>
                <li><strong>Comunidade</strong>: A maioria dos frameworks tem uma grande comunidade ativa, fornecendo suporte, bibliotecas e documentação.</li>
            </ul>
        </p>
        <a href="/" class="btn btn-primary">Voltar</a>
    </div>
</body>
</html>
